html  
    body
        ul
        each user in users
            li #{user.name}

    form(action = "/user" method "POST")
    p Name:
        input(type="text" name="name" placeholder="")
    input(type ="submit")